window {
  background-color: rgba(10, 10, 10, 0.95);
  color: #ffffff;
  border-radius: 0px;
  border-right: 2px solid #00e5ff;
}

/* search entry */
entry {
  box-shadow: none;
  border: 1px solid #00e5ff;
  background-color: #000000;
  color: #00e5ff;
  padding: 5px;
}

button,
image {
  background-color: transparent;
  background: none;
  border: 1px solid transparent;
  margin: 5px;
}

button:hover {
  background-color: #111111;
  border: 1px solid #00e5ff;
  box-shadow: none;
}

#category-button {
  margin: 0;
}

#pinned-box {
  padding-bottom: 5px;
  border-bottom: 2px solid #333333;
}

#files-box {
  padding: 5px;
  border: 1px solid #333333;
}
