move_down_smooth j
move_up_smooth k
move_visual_mark_down j
move_visual_mark_up k
screen_up_smooth <pageup>
screen_down_smooth <pagedown>
next_page J
previous_page K
goto_mark '
quit Q
close_window q
fit_to_page_smart =
embed_annotations W
next_state <C-i>
prev_state <C-o>
reload <C-r>
toggle_custom_color <f8>
fit_to_page_height_smart <f9>
fit_to_page_width_smart <f10>
fit_to_page_smart <f11>
