# required in Wayland/Sway:
# env QT_QPA_PLATFORM=xcb
# should_launch_new_instance 1
should_launch_new_window 1
should_launch_new_instance 1
startup_commands toggle_visual_scroll;toggle_custom_color

# Document Colors (Deep Black bg, Pure White text)
custom_background_color             #0A0A0A
custom_text_color                   #FFFFFF
custom_color_mode_empty_background_color #000000
page_separator_color                #333333

# UI & Status Bar (Electric Cyan & Black)
ui_background_color                 #111111
ui_text_color                       #FFFFFF
ui_selected_background_color        #333333
ui_selected_text_color              #00E5FF

status_bar_color                    #00E5FF
status_bar_text_color               #000000

# Highlights (Cyan for links, Crimson for search)
search_highlight_color              #FF0033
unselected_search_highlight_color   #880011
link_highlight_color                #00E5FF
synctex_highlight_color             #00E5FF

# Visual Mark (You autostart this, make it subtle but sharp)
visual_mark_color                   #333333

# page separation
page_separator_color #1d2021
page_separator_width 10

# dark mode
dark_mode_background_color #1e1e2e
dark_mode_contrast 0.9

# UI
ui_font Noto Sans Mono
font_size 12
status_bar_font_size 16
status_bar_color #427b58
status_bar_text_color #fbf1c7
ui_text_color              #cad3f5
ui_background_color        #363a4f
ui_selected_text_color     #cad3f5
ui_selected_background_color #5b6078

# brighten blue links
custom_color_contrast 1

custom_color_mode_empty_background_color #1d2021

# search
should_highlight_unselected_search 1
unselected_search_highlight_color #FF5733

# gruvbox
custom_background_color        #282828
custom_text_color              #fbf1c7

# text_highlight_color       #eed49f
# visual_mark_color          #8087a2

# search_highlight_color     #eed49f
# link_highlight_color       #8aadf4
# synctex_highlight_color    #a6da95
