# required in Wayland/Sway:
# env QT_QPA_PLATFORM=xcb
# should_launch_new_instance 1
should_launch_new_window 1
should_launch_new_instance 1
startup_commands toggle_visual_scroll;toggle_custom_color

# - dracula: https://github.com/dracula/sioyek
# - catppuccin: https://github.com/catppuccin/sioyek
# - gruvbox: https://mil.ad/blog/2022/gruvbox-for-sioyek.html
new_macro _theme_solaris setconfig_custom_text_color(#b58900);setconfig_custom_background_color(#586e75)
new_macro _theme_normal setconfig_custom_text_color(#000000);setconfig_custom_background_color(#ffffff)
new_macro _theme_dark setconfig_custom_text_color(#ffffff);setconfig_custom_background_color(#000000)
new_macro _theme_softlight setconfig_custom_text_color(#434c5e);setconfig_custom_background_color(#faf4ed)
new_macro _theme_macchiato setconfig_custom_text_color(#cad3f5);setconfig_custom_background_color(#24273a)
new_macro _theme_frappe setconfig_custom_text_color(#c6d0f5);setconfig_custom_background_color(#303446)
new_macro _theme_moccha setconfig_custom_text_color(#cdd6f4);setconfig_custom_background_color(#1e1e2e)
new_macro _theme_latte setconfig_custom_text_color(#4c4f69);setconfig_custom_background_color(#eff1f5)
new_macro _theme_gruvbox setconfig_custom_text_color(#fbf1c7);setconfig_custom_background_color(#282828)
new_macro _theme_dracula setconfig_custom_text_color(0.97255 0.97255 0.94902);setconfig_custom_background_color(0.15686 0.16471 0.21176)

# page separation
page_separator_color #1d2021
page_separator_width 10

# dark mode
dark_mode_background_color #1e1e2e
dark_mode_contrast 0.9

# UI
ui_font Noto Sans Mono
font_size 12
status_bar_font_size 16
status_bar_color #427b58
status_bar_text_color #fbf1c7
ui_text_color              #cad3f5
ui_background_color        #363a4f
ui_selected_text_color     #cad3f5
ui_selected_background_color #5b6078

# brighten blue links
custom_color_contrast 1

custom_color_mode_empty_background_color #1d2021

# search
should_highlight_unselected_search 1
unselected_search_highlight_color #FF5733 

# gruvbox
custom_background_color        #282828
custom_text_color              #fbf1c7

# text_highlight_color       #eed49f
# visual_mark_color          #8087a2

# search_highlight_color     #eed49f
# link_highlight_color       #8aadf4
# synctex_highlight_color    #a6da95
