* {
  border: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  border-radius: 0px;
}
window {
  background-image: url("EndeavourOS_Astronaut_SpaceWalk.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0a0a;
}
#clock-label {
  font-family: JetBrainsMono;
  font-size: 64px;
  color: #00e5ff;
}
#unlock-button {
  background-color: rgba(10, 10, 10, 0.8);
  border: 2px solid #333333;
  padding: 4px;
  color: #ffffff;
}
#unlock-button:hover {
  border-color: #00e5ff;
  background-color: #000000;
}
#input-field {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #00e5ff;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
}
#powerbar-box button {
  background-color: rgba(10, 10, 10, 0.8);
  border: 2px solid #333333;
  padding: 6px;
}
#powerbar-box button:hover {
  border-color: #00e5ff;
  color: #00e5ff;
}
#input-label {
  font-size: 0px;
}
#window-box infobar {
  background-color: transparent;
}
