[core]
    filemode = false
    pager = delta --diff-so-fancy
    autorcrlf = true
    editor = nvim
[user]
    name = Henrik Bakken
    email = bakken.henrik@gmail.com
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = true
    features = decorations
    minus-style = bold red
    minus-non-emph-style = bold red
    minus-emph-style = bold reverse red
    minus-empty-line-marker-style = normal "#3f0001"
    plus-style = bold green
    plus-non-emph-style  = bold green
    plus-emph-style  = bold reverse green
[delta "interactive"]
    keep-plus-minus-markers = false[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
[init]
    defaultBranch = main

# better defaults
# https://blog.gitbutler.com/how-git-core-devs-configure-git/
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

# Improved colors for the highlighted bits
# https://github.com/so-fancy/diff-so-fancy
[color]
    ui = true
    [color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
