[alias]
    save = "!f() { git add -u && git commit --no-verify -m "\"SAVEPOINT - $@\""; }; f"
    undo = reset HEAD~1 --mixed
    checkpoint = "!f() { git save ${1-CHECKPOINT}; git tag "\"checkpoint/${1-`date +%Y%m%d_%H%M%S`}\""; git undo; }; f"
    checkpoints = tag -l "checkpoint/*"
    delcheckpoint = "!f() { git tag -d checkpoint/$1; }; f"
    loadcheckpoint = "!f() { git reset --hard checkpoint/$1 && git undo; }; f"
    cp = checkpoint
    cpls = loadcheckpoint
    cpd = delcheckpoint
    cpld = loadcheckpoint required = true
[core]
    filemode = false
    pager = delta --diff-so-fancy
    autorcrlf = true
    editor = nvim
[user]
    name = Henrik Bakken
    email = bakken.henrik@gmail.com
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[diff]
    external = difft
    colorMoved = default
[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = true
    features = decorations
    minus-style = bold red
    minus-non-emph-style = bold red
    minus-emph-style = bold reverse red
    minus-empty-line-marker-style = normal "#3f0001"
    plus-style = bold green
    plus-non-emph-style  = bold green
    plus-emph-style  = bold reverse green
[delta "interactive"]
    keep-plus-minus-markers = false[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
[color]
    ui = true
    [color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
