Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*.font: xft:DejaVu Sans Mono for Powerline:size=14,xft:Terminess Nerd Font Mono
*.boldFont: xft:DejaVu Sans Mono for Powerline:bold:size=14,xft:Terminess Nerd Font Mono
*.italicFont: xft:DejaVu Sans Mono for Powerline:italic:size=14,xft:Terminess Nerd Font Mono
*.boldItalicFont: xft:DejaVu Sans Mono for Powerline:bold:italic:size=14,xft:Terminess Nerd Font Mono
URxvt.font: xft:DejaVu Sans Mono for Powerline:size=14,xft:Terminess Nerd Font Mono
URxvt.boldFont: xft:DejaVu Sans Mono for Powerline:bold:size=14,xft:Terminess Nerd Font Mono
URxvt.italicFont: xft:DejaVu Sans Mono for Powerline:italic:size=14,xft:Terminess Nerd Font Mono
URxvt.boldItalicFont: xft:DejaVu Sans Mono for Powerline:bold:italic:size=14,xft:Terminess Nerd Font Mono

*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf
*.color0: #263640
*.color8: #4a697d
*.color1: #d12f2c
*.color9: #fa3935
*.color2: #819400
*.color10: #a4bd00
*.color3: #b08500
*.color11: #d9a400
*.color4: #2587cc
*.color12: #2ca2f5
*.color5: #696ebf
*.color13: #8086e8
*.color6: #289c93
*.color14: #33c5ba
*.color7: #bfbaac
*.color15: #fdf6e3

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
! Xterm escape codes, word by word movement
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
! change fonts
URxvt.keysym.Control-minus:     resize-font:smaller
URxvt.keysym.Control-plus:      resize-font:bigger
URxvt.keysym.Control-equal:     resize-font:reset
URxvt.keysym.Control-question:  resize-font:show
! scrolling
URxvt*scrollTtyOutput:  false
URxvt*scrollColor: #777777
URxvt*scrollstyle: plain
URxvt*scrollTtyKeypress: true
URxvt*scrollWithBuffer: false
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.mouseWheelScrollPage: true
! scrll with ctrl+shift+up/down
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Shift-Home: command:\033]720;10\007
URxvt.keysym.Shift-End: command:\033]721;10\007
! other
URxvt.copyCommand: xclip -i -selection clipboard
URxvt*cursorBlink: true
URxvt.saveLines: 10000
