should_launch_new_window 1
startup_commands toggle_visual_scroll;toggle_dark_mode;toggle_custom_color

background_color    0.97 0.97 0.97
dark_mode_background_color    0.0 0.0 0.0

dark_mode_contrast 0.9

text_highlight_color 1 1 0

visual_mark_color 0 0 0 0.1

search_highlight_color 0 1 0
synctex_highlight_color 1 0 0
link_highlight_color 0 0 0
synctex_highlight_color  1.0 0.0 1.0

custom_background_color 0. 0. 0.
custom_text_color 0.847 0.871 0.914
