[Desktop Entry]
Version=1.0
Name=Khal Import
Comment=Imports ICS files into Khal
Type=Application
Terminal=false
Exec=footclient --app-id floating_shell --window-size-chars 80x45 khal import %F
MimeType=text/calendar;
NoDisplay=true
