[Unit]
Description=AIO startup service

[Service]
Type=oneshot
ExecStart=liquidctl --match nzxt set fan1 speed 70
ExecStart=liquidctl --match nzxt set fan2 speed 70
ExecStart=liquidctl --match nzxt set fan3 speed 70

[Install]
WantedBy=default.target
