[Unit]
Description=Gdrive (rclone)
AssertPathIsDirectory=/mnt/hdd1/gdrive
# Make sure we have network enabled
After=network.target

[Service]
Type=notify

ExecStart=/usr/bin/rclone mount --vfs-cache-mode full gdrive: /mnt/hdd1/gdrive

# Perform lazy unmount
ExecStop=/usr/bin/fusermount -zu /mnt/hdd1/gdrive

# Restart the service whenever rclone exists with non-zero exit code
Restart=on-failure
RestartSec=15

[Install]
# Autostart after reboot
WantedBy=default.target
