 urxvt.perl-ext-common: default,tabbed,matcher,resize-font,-tabbed


! font config
URxvt.font:                       xft:hack:size=12
URxvt.boldFont:                   xft:hack:size=12:bold
URxvt.italicFont:                 xft:hack:size=12:italic
URxvt.boldItalicFont:             xft:hack:size=12:bolditalic
! xft:SauceCodePro Nerd Font
! xft:Inconsolata for Powerline
! xft:Droid Sans Mono for Powerline
! xft:Roboto Mono for Powerline
! xft:Go Mono for Powerline
! xft:DejaVu Sans Mono for Powerline
! xft:hack

! bindings
URxvt.keysym.C-minus:             resize-font:smaller
URxvt.keysym.C-plus:              resize-font:bigger
URxvt.keysym.C-equal:             resize-font:reset
URxvt.keysym.C-question:          resize-font:show
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

! font config
Xft.antialias:                    true
Xft.hinting:                      true
Xft.rgba:                         rgb
Xft.autohint:                     false
Xft.hintstyle:                    hintslight
Xft.lcdfilter:                    lcddefault

! fade text when focus is lost
*fading:                          8
*fadeColor:                       black

! cursor when hovering
Xcursor.theme:                    Maia-Cursor
Xcursor.size:                     0

! settings
URxvt*scrollBar:                  false
URxvt*saveLines:                  5000
URxvt.iso14755:                   false
